<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $(function(){

		/*Slider Price Dropdown*/
            $("#ex2").slider({
            	range:true,
                min:100,
                max:1000,
                values:[300,700],
				slide: function( event, ui ) {
                  $( "#price" ).val( "£" + ui.values[ 0 ] + " - £" + ui.values[ 1 ] );
                  }
            });

	});
  </script>

</head>
<body>
	
	<p>
     <label for = "price">Price range:</label>
     <input type = "text" id = "price" 
            style = "border:0; color:#b9cd6d; font-weight:bold;">
    </p>

    <div id="ex2" style="width: 300px"> </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>