 <footer class="blog-footer">
      <p>Template built using <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="dianadutra.sc">Diana Dutra</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
 </footer>