<nav class="navbar navbar-expand-md navbar-light bg-light pb-10">
      <a class="navbar-brand" href="index.html"> <img src="signature.jpg" alt="" id="imgsig"></a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html#artistAnchor">The Artist</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="findarts.html">Find your Art</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item active">
            <!--<a class="nav-link p-2" href="#"><img src="C:\Users\Jonata\Desktop\diana\artGallery\shopping-bag.png" alt="icon"></a>-->
          </li>
        </ul>
      </div>
    </nav>