hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hide {
	display: none !important;
}

.bodyindex{
background: #FFFFFF;  /* fallback for old browsers */
}

.bodyartist{
	background-color: #ffffff; 
}

.nav-item{
	padding-right: 20px;
	padding-left: 20px;
}

.blog-footer {
    padding: 1.5rem 0;
    color: #FFFFFF;
    text-align: center;
	background: #333333;

}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

#divNavbar{
	font-family: 'DM Serif Display', serif;
	font-size: 20px;
	background: #FFFFFF;
}

#parag{
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Literata', serif;
    text-align: center;
}

#quote {
	font-style: italic;
	font-size: 30px;
}

#maintext {
	font-size: 18px;
	line-height: 30px;
	font-family: 'Literata', serif;
}

#msgForm {
	font-size: 27px;
	line-height: 30px;
	font-family: 'Literata', serif;
	color: #FFFFFF;
}

#w, #L{
	font-size: 90px;
	font-family: 'Great Vibes', cursive;
}

/*Signature/ brand in navbar*/
#imgsig{
	width: 120px;
}

#artist{
	width: 100%;
}

#artist3{
	width: 100%;
}

#img41{
	padding-top: 140px;

}

#img42{
	padding-top: 30px;

}

#jumboContact{
	background-image: url(/artpincel.jpg);

}

#formStyle{
    border-style: solid;
	border-radius: 4px;
	border-color: #DBD5A4;
}

#navbarSupportedContent{
	font-size: 20px;
	font-style: 'Open Sans';
	margin-left: 150px;
}


